{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message edit</h1>

    {{ form_start(edit_form) }}
    <div>
        {{ form_label(edit_form.titre) }}
        {{ form_widget(edit_form.titre) }}
        {{ form_errors(edit_form.titre) }}
    </div>

    <div>
        {{ form_label(edit_form.contenu) }}
        {{ form_widget(edit_form.contenu) }}
        {{ form_errors(edit_form.contenu) }}
    </div>

    <div">
    {{ form_label(edit_form.categorie) }}
    {{ form_widget(edit_form.categorie) }}
    {{ form_errors(edit_form.categorie) }}
    </div>

    <div>
        <div>
            <img src="{{ asset('uploads/images/') }}{{ message.image.url }}" alt="{{ message.image.alt }}">

            <div class="btn">
                <span>Changer l'image</span>
                {{ form_widget(edit_form.image.fichierCharge) }}
            </div>

            {{ form_errors(edit_form.image.fichierCharge) }}
        </div>
        <div>
            {{ form_label(edit_form.image.alt) }}
            {{ form_widget(edit_form.image.alt) }}
            {{ form_errors(edit_form.image.alt) }}
        </div>
    </div>
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}


    <ul>
        <li>
            <a href="{{ path('message_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{#
{% block javascripts %}

    {{ parent() }}

    <script>
        // Actualise image après chargement sur new et edit Album
        $(document).ready(function(){
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        if ($('#imageBdD').hasClass('')) {
                            $('#blah').attr('src', e.target.result);
                            $('#imageBdD').toggleClass('thumbs hide');
                        }
                        else {
                            $('#blah').attr('src', e.target.result);
                            // Sur NEW masque l'image vide -- Changement de la class
                            $('.hide').toggleClass('hide responsive-img');
                            // Sur EDIT masque l'image initiale -- Changement de la class
                            $('#imageBdD').toggleClass('thumbs hide');
                        }
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#fos_user_profile_form_photo_file").change(function(){
                readURL(this);
            });
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <script>
    $(document).ready(function() }
    $('select').material_select();
    });
    </script>


{% endblock %}
#}
